.grid-container {
    display: grid;
    text-align: center;
    grid-gap: 5px;
    grid-template-columns: 17% 16.33% 33.33% 33.33%;
}

.grid-item {
    background-color: white;
}

.swoosh-header {
    grid-column: 1;
    grid-row: 1;
    width: 25px;
}

.swoosh-text {
    grid-column: 2 / span 2;
    grid-row: 1;
    padding-top: 25px;
    text-align: left;
}

h1 {
    color: rgb(239, 180, 1);
}

h2 {
    color: rgb(39, 68, 111);
}

.as_container {
    width: 98%;
    margin: auto;
    border: 2px solid rgb(10, 41, 58);
    padding: none;
    background-color: rgb(155, 184, 199);
    border-radius: 3px;
    grid-column: 1 / span 4;
    grid-row: 2;
}

.as_nav {
    margin: 2px;
    list-style: none;
    text-align: center;
    padding: 0px;
}

.as_nav li {
    display: inline;
    margin-right: none;
    padding: 5px;
}

.as_container a:link,
.as_container a:visited {
    color: black;
    background-color: rgb();
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb();
    border-radius: 5px;

}

.as_container a:hover,
.as_container a:active {
    background-color: rgb(10, 41, 58);
    color: white;
    border-radius: 5px;
}

.current {
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: lightskyblue;
}