.grid-container {
    display: grid;
    text-align: center;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: white;
}

.swoosh-header {
    grid-column: 1;
    grid-row: 1;
    width: 75px;
}

.swoosh-text {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding-top: 25px;
    padding-right: 160px;
}

.as_container {
    width: 100%;
    margin: auto;
    border: 2px solid blue;
    padding: none;
    background-color: rgb(207, 225, 243);
    border-radius: 3px;
}

.as_container {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.as_nav {
    margin: 2px;
    list-style: none;
    text-align: center;
    padding: 0px;
}

.as_nav li {
    display: inline;
    margin-right: none;
    padding: 5px;
}

.as_container a:link,
.as_container a:visited {
    color: black;
    background-color: rgb();
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb();
    border-radius: 5px;

}

.as_container a:hover,
.as_container a:active {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.current {
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: lightskyblue;
}