.grid-container {
    display: grid;
    text-align: center;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.grid-item {
    background-color: rgb(191, 202, 217);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.as_container {
    width: 1260px;
    margin: auto;
    border: 2px solid blue;
    padding: none;
    background-color: rgb(207, 225, 243);
    border-radius: 3px;
}

.as_nav {
    margin: 2px;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.as_nav li {
    display: inline;
    margin-right: none;
    padding: 10px;
}

.as_container a:link,
.as_container a:visited {
    color: black;
    background-color: rgb();
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb();
    border-radius: 5px;

}

.as_container a:hover,
.as_container a:active {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.current {
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: lightskyblue;
}