/*
green sheen: rgb(137, 182, 165)
english violet: rgb(76, 59, 77)
aero blue: rgb(201, 237, 220)
queen pink: rgb(217, 189, 197)
thistle: rgb(232, 199, 222)
*/

h1 {
    text-align: center;
    color: rgb(215, 79, 46);
    padding: 10px;
}

h2 {
    color: rgb(169, 182, 123);
    text-align: center;
}

p {
    text-align: center;
}

.page_formatting {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(240, 244, 250);
    border: rgb(188, 65, 43) 10px double;
    border-radius: 25px;
}

img {
    border: 3px double rgb(215, 79, 46);
    padding: 5px;
    margin: auto;
    display: block;
}

.as_container {
    width: 1000px;
    margin: 0 auto;
    border: 2px solid rgb(132, 146, 82);
    padding: none;
    background-color: rgb(196, 206, 161);
    border-radius: 15px;
}

.as_nav {
    list-style: none;
    text-align: center;
}

.as_nav li {
    display: inline;
    margin-right: 60px;
    padding: 10px;
}

.as_container a:link,
.as_container a:visited {
    color: black;
    background-color: rgb(234, 153, 133);
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(215, 79, 46);
    border-radius: 5px;

}

.as_container a:hover,
.as_container a:active {
    background-color: rgb(215, 79, 46);
    color: white;
    border-radius: 5px;
}

.nav li {
    display: inline;
    margin-right: 60px;
    padding: 10px;
}

.current {
    font-weight: bold;
}

table {
    text-align: center;
    margin: auto;
    border: 3px solid rgb(215, 79, 46);
}

td,
th {
    padding-left: 10px;
    padding-right: 10px
}

details {
    text-align: center;

}